---
import '../styles/global.css';
---
<header class="header">
  <a href="/" class="header-logo">RECN</a>
  <nav class="header-nav">
    <a href="/blog/">Blog</a>
    <button class="theme-toggle" type="button">Light</button>
  </nav>
</header>
